<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/theme.min.css" />
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/simplebar/dist/simplebar.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/tiny-slider/dist/tiny-slider.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/nouislider/dist/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/drift-zoom/dist/drift-basic.min.css"
    />
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon.png">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css" />
  </head>
  <body class="handheld-toolbar-enabled" onload="onloadZ()">
    <%- include('partials/sign-in-modal') %>
    <main class="page-wrapper">
      <header class="shadow-sm"><%-include('partials/header') %></header>
      <section><%-include('partials/products-title') %></section>
      <div class="container pb-5 mb-2 mb-md-4">
        <nav class="container mt-n5">
          <div class="d-flex align-items-center bg-white rounded-3 shadow-lg py-2 ps-sm-2 px-4 px-lg-2"><img
              class="d-block rounded-3" src="img/icon.png" width="50" alt="Brand">
            <div class="ps-lg-3 w-100 text-end">
              <!-- For desktop-->
              <ul class="nav nav-tabs d-none d-lg-flex border-0 mb-0">
                <% categories.forEach((category, index) => { %>
                <li class="nav-item"><a class="nav-link" id="<%= category.name %>_PC" onclick="active('<%= category.name %>_PC');"
                    style="cursor: pointer;"><%= category.name %></a></li>
                <% }) %>
              </ul>
              <!-- For mobile-->
              <div class="btn-group dropdown d-lg-none ms-auto">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><i class="ci-menu fs-base me-2"></i>Categories</button>
                <div class="dropdown-menu dropdown-menu-end">
                  <% categories.forEach((category, index) => { %>
                    <a class="dropdown-item fs-base" id="<%= category.name %>_MB" onclick="active('<%= category.name %>_MB');"
                      style="cursor: pointer;"><%= category.name %></a>
                  <% }) %>
              </div>
            </div>
          </div>
        </nav>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script>
        function active(str){
          <% categories.forEach((category, index) => { %>
            document.getElementById("<%= category.name %>_PC").classList.remove('active');
            document.getElementById("<%= category.name %>_MB").classList.remove('active');
          <% }) %>
          myArray = str.split("_");
          //myArray[0] == category name
          //myArray[1] == display type
  
          sessionStorage.setItem("category", myArray[0]);
          document.getElementById("catTitle").innerHTML = myArray[0].toUpperCase();
  
          if(myArray[1]==="MB"){
            str2 = myArray[0] + "_PC";
          }
          else{
            str2 = myArray[0] + "_MB";
          }
  
          document.getElementById(str).classList.add('active');
          document.getElementById(str2).classList.add('active');

          //AJAX
          $.ajax({
            url: '/filterProducts',
            type: 'POST',
            data: {category: myArray[0]},
            success: function(data){
              console.log(data.products);
              const products = data.products;
              document.getElementById("products").innerHTML = "";
              
              products.forEach((product, index) => {
                if(product.images.length > 0){
                  var image1 = product.images[0];
                  var image = image1.path;
                }
                else{
                  var image = "no_image.jpg";
                }

                document.getElementById("products").innerHTML += `
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
                  <div class="card product-card" id="all ${product.category}">
                    <a class="card-img-top d-block overflow-hidden" href="/product?id=${product.id}">
                      <img src="img/${image}" alt="Product"/></a>
                    <div class="card-body py-2">
                      <a class="product-meta d-block fs-xs pb-1" href="#"
                        >${product.category}</a
                      >
                      <h3 class="product-title fs-sm">
                        <a href="/product?id=${product.id}">${product.name}</a>
                      </h3>
                      <div class="d-flex justify-content-between">
                        <div class="product-price">
                          <span class="text-accent">&#8369;${product.price}</span>
                        </div>
                        <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1"
                          >${product.stock} in stock!</span
                        >
                      </div>
                    </div>
                    <div class="card-body card-body-hidden">
                      <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onclick="addToCart('${product.id}')">
                        <i class="ci-cart fs-sm me-1"></i>Add to Cart
                      </button>
                    </div>
                  </div>
                  <hr class="d-sm-none" />
                </div>
                `;
            });
        }
        });
      }
  
        function onloadZ(){
          document.getElementById("All_PC").classList.add('active');
          document.getElementById("All_MB").classList.add('active');
          document.getElementById("catTitle").innerHTML = "All".toUpperCase();
        }
      </script>
        <%- include('partials/products-grid'),{paginatedProducts: paginatedProducts,
        page: page, categories: categories, totalPages: totalPages,} %>
      </div>
  </main>
      </section>
    </main>
    <footer>
      <%- include('partials/footer', {categories: categories, totalProducts:
      totalProducts}) %>
    </footer>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll
      ><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span
      ><i class="btn-scroll-top-icon ci-arrow-up"> </i
    ></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <input type="hidden" id="user_id" value="<%= userDetails.id %>" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/nouislider/dist/nouislider.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="js/cart.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/auth.js"></script>
  </body>
</html>
