<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %> | Curio 4552</title>
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/simplebar/dist/simplebar.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/tiny-slider/dist/tiny-slider.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/drift-zoom/dist/drift-basic.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/lightgallery/css/lightgallery-bundle.min.css"
    />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css" />
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon.png">
  </head>
  <body>
    <header class="shadow-sm"><%- include('partials/header') %></header>
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol
              class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start"
            >
              <li class="breadcrumb-item">
                <a class="text-nowrap" href="index.html"
                  ><i class="ci-home"></i>Home</a
                >
              </li>
              <li class="breadcrumb-item text-nowrap">
                <a href="/products">Shop</a>
              </li>
              <li
                class="breadcrumb-item text-nowrap active"
                aria-current="page"
              >
                <%- product.name %>
              </li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0"><%- product.name %></h1>
        </div>
      </div>
    </div>
    <!-- Page Title-->
    <div class="container">
      <!-- Gallery + details-->
      <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
        <div class="px-lg-3">
          <div class="row">
            <%-include('partials/single-product-gallery') %>
            <%-include('partials/single-product-details') %>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <%- include('partials/footer', {categories: categories, totalProducts:
      totalProducts}) %>
    </footer>

    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll
      ><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span
      ><i class="btn-scroll-top-icon ci-arrow-up"> </i
    ></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="vendor/lightgallery/lightgallery.min.js"></script>
    <script src="vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/auth.js"></script>
  </body>
</html>
