<!-- Content  -->
<section class="col-lg-8">

  <% function formatDate(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = ('0' + (date.getMonth() + 1)).slice(-2); // getMonth() returns month from 0-11
    const day = ('0' + date.getDate()).slice(-2);
    return `${month}/${day}/${year}`;
  } 
  %>
  <!-- Toolbar-->
  <div
    class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3"
  >
    <div class="d-flex align-items-center">
      
    </div>
    <button
      class="btn btn-primary btn-sm d-none d-lg-inline-block"
      onclick="logout()"
      ><i class="ci-sign-out me-2"></i>Sign out</button
    >
  </div>
  <!-- Orders list-->
  <div class="table-responsive fs-md mb-4">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Date Purchased</th>
          <th>Status</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% ordersOnPage.forEach(order => { %>
        <tr>
          <td class="py-3">
            <button
              class="nav-link-style fw-medium fs-sm border-0"
              onclick="seeOrder(`<%= JSON.stringify(order) %>`)"
            >
              CURIO<%= order.id %>
          </button>
          </td>
          <td class="py-3"><%= formatDate(order.date); %></td>
          <td class="py-3">
            <% if (order.status === 'Pending') { %>
            <span class="badge bg-info m-0"><%= order.status %></span>
            <% } else if (order.status === 'Completed') { %>
            <span class="badge bg-success m-0"><%= order.status %></span>
            <% } else if (order.status === 'Processing') { %>
              <span class="badge bg-primary m-0"><%= order.status %></span>
            <% } else if (order.status === 'Cancelled') { %>
            <span class="badge bg-danger m-0"><%= order.status %></span>
            <% } else { %>
            <span class="badge bg-secondary m-0">Unknown</span>
            <% } %>
          </td>
          <td class="ms-2 py-3">&#8369;<%= order.total %></td>
          <td class="py-3">
            <button
              class="btn btn-outline-primary btn-sm"
              onclick="seeOrder(`<%= JSON.stringify(order) %>`)"
            >
              View
            </button>
            <% if (order.status === 'Pending') { %>
            <button
              class="btn btn-outline-danger btn-sm"
              onclick="cancelModal(`<%= order.id %>`)"
            >
              Cancel
            </button>
            <% } else if(order.status === 'Processing') { %>
            <button
              class="btn btn-success btn-sm" style="background-color: rgb(65, 138, 65) !important;"
              onclick="completeModal(`<%= order.id %>`)"
            >
              Complete
            </button>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>



                <div
                class="modal fade"
                id="deleteModal"
                tabindex="-1"
                aria-labelledby="deleteModal"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="title">
                        Cancel Order
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure that you want to cancel the order with the order number
                      CURIO<span id="order-number"></span>?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        id="confirm-delete"
                      >
                        Proceed
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="authorizeModal"
                tabindex="-1"
                aria-labelledby="authorizeModal"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="title2">
                        Authorize Order
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure that you want to complete the order with the order number
                      CURIO<span id="order-number2"></span>?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-success"
                        id="confirm-authorize"
                        style="background-color: rgb(32, 156, 32) !important;"
                      >
                        Authorize
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              
  <!-- Pagination-->
  <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li class="page-item">
        <a class="page-link" href="/account-orders?page=<%= currentPage - 1 %>">
          <i class="ci-arrow-left me-2"></i>Prev
        </a>
      </li>
      <% } %>
    </ul>
    <ul class="pagination">
      <% for (let i = 1; i <= totalPages; i++) { %> <% if (i == currentPage) {
      %>
      <li class="page-item active" aria-current="page">
        <span class="page-link"
          ><%= i %><span class="visually-hidden">(current)</span></span
        >
      </li>
      <% } else { %>
      <li class="page-item">
        <a class="page-link" href="/account-orders?page=<%= i %>"><%= i %></a>
      </li>
      <% } %> <% } %>
    </ul>
    <ul class="pagination">
      <% if (currentPage < totalPages) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="/account-orders?page=<%= currentPage + 1 %>"
          aria-label="Next"
          >Next
          <i class="ci-arrow-right ms-2"></i>
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</section>
