<!-- Product-->
<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
  <a href="/product?id=<%= product.id %>">
  <div class="card product-card" id="all <%- product.category %>"
    <a class="card-img-top d-block overflow-hidden"
      href="/product?id=<%= product.id %>">
      <% if (product && product.images && product.images.length > 0) { %>
        <% var image = product.images[0]; %>  <!-- Directly use the object -->
        <img src="img/<%= image.path %>" alt="Product"/></a>
    <% } else { %>
      <img src="img/no_image.jpg" alt="Product"/></a>
    <% } %>
      
    <div class="card-body py-2">
      <a class="product-meta d-block fs-xs pb-1" href="#"><%- product.category %></a>
      <h3 class="product-title fs-sm">
        <a href="/product?id=<%= product.id %>"><%- product.name%></a>
      </h3>
      <div class="d-flex justify-content-between">
        <div class="product-price">
          <span class="text-accent">&#8369;<%- product.price%></span>
        </div>
        <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1"><%- product.stock %> in stock!</span>
      </div>
    </div>
    <div class="card-body card-body-hidden">

      <a href="/product?id=<%= product.id %>">
      <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" >
        <i class="ci-cart fs-sm me-1"></i>View
      </button>
      </a>
      
    </div>
  </div>
  <hr class="d-sm-none" />
  </a>
</div>
