<!-- Product-->
<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
  <div class="card product-card" id="all <%- product.category %>">
    <button
      class="btn-wishlist btn-sm"
      type="button"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Add to wishlist"
    >
      <i class="ci-heart"></i></button
    ><a
      class="card-img-top d-block overflow-hidden"
      href="/product?id=<%= product.id %>"
      ><img src="img/<%- product.image[0]%>" alt="Product"
    /></a>
    <div class="card-body py-2">
      <a class="product-meta d-block fs-xs pb-1" href="#"
        ><%- product.category %></a
      >
      <h3 class="product-title fs-sm">
        <a href="/product?id=<%= product.id %>"><%- product.name%></a>
      </h3>
      <div class="d-flex justify-content-between">
        <div class="product-price">
          <span class="text-accent">&#8369;<%- product.price%></span>
        </div>
        <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1"
          ><%- product.salesQuantity %> sold</span
        >
      </div>
    </div>
    <div class="card-body card-body-hidden">
      <div class="text-center pb-2">
        <% product.sizes.forEach((size, index) => { %>
        <div class="form-check form-option form-check-inline mb-2">
          <% if (index === 0) { %>
          <input
            class="form-check-input"
            type="radio"
            name="size<%= product.id %>"
            id="s-<%= product.id %>-<%= index %>"
            checked
          />
          <% } else { %>
          <input
            class="form-check-input"
            type="radio"
            name="size<%= product.id %>"
            id="s-<%= product.id %>-<%= index %>"
          />
          <% } %>
          <label
            class="form-option-label"
            for="s-<%= product.id %>-<%= index %>"
            ><%= size %></label
          >
        </div>
        <% }); %>
      </div>
      <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onclick="addToCart(`<%= product.id %>`)">
        <i class="ci-cart fs-sm me-1"></i>Add to Cart
      </button>
    </div>
  </div>
  <hr class="d-sm-none" />
</div>
