<!-- Product gallery-->
<div class="col-lg-7 pe-lg-0 pt-lg-4">
  <div class="product-gallery">
    <div class="product-gallery-preview order-sm-2">
      <% var images = product.images; %>
      <% images.forEach((image, index) => { %>
      <div
        class="product-gallery-preview-item <%= index === 0 ? 'active' : '' %>"
        id="image<%= index + 1 %>"
      >
        <img
          class="image-zoom"
          src="img/<%= image.path %>"
          data-zoom="img/<%= image.path %>"
          alt="Product image"
        />
        <div class="image-zoom-pane"></div>
      </div>
      <% }) %>
    </div>
    <div class="product-gallery-thumblist order-sm-1">
      <% images.forEach((image, index) => { %>
      <a
        class="product-gallery-thumblist-item <%= image.id === 0 ? 'active' : '' %>"
        href="#image<%= index + 1 %>"
      >
        <img src="img/<%= image.path %>" alt="Product thumb" />
      </a>
      <% }) %>
    </div>
  </div>
</div>
